<div class="images">
  <!-- <a id="picture4"></a>
  <img src="assets/img/gallery/raw/Isaac.png" alt="Picture 4..." class="image1">
  <span></span> -->

  <div *ngFor="let i of imageService.list" class="image" (click)="i.showText=!i.showText">
      <div class="image-pair">
        <picture>
          <source type="image/webp" *ngIf="i.webpUrl" [srcset]="i.webpUrl">
          <img [src]="i.url" alt="" class="image1">
        </picture>
  
        <img [src]="i.thumbUrl" class="image2" *ngIf="i.thumbUrl">
      </div>
      <div @expand *ngIf="i.text && i.showText">
        {{i.text}}
      </div>
    </div>
  </div>