/* deep styles for children */

/deep/ .image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/deep/ .image img {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/deep/ .image span {
  width: 60vw;
  margin-bottom: 2em;
  font-size: 1.2em;
}

/deep/ .image-pair {
  position: relative;
}

/deep/ .image1 {
  height: 40vh;
}

/deep/ .image2 {
  position: absolute;
  bottom: 4px;
  right: -45px;
}