:host body {
  scroll-behavior: smooth;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.4em;
  scroll-behavior: smooth;
  /* transition: transform 0.6s ease-in-out; */
}


/* 
a[id="images"]:target ~ div#images {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

div#imagelink {
  position: fixed;
  bottom: 15em;
  right: 15em;
  opacity: 0.3;
} */