<div class="contact">

  <div class="content">
    <p>
      Are you interested in having your own portrait or have any enquiry?
    </p>

    <p>
      Please send me an email:
    </p>

    <a href="mailto:joannelee133@gmail.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      joannelee133@gmail.com
    </a>

    <p>
      or drop me a call:
    </p>

    <a href="tel:+64277564652" #phone>
      <i class="fa fa-phone" aria-hidden="true"></i>
      +64 027 756 4652
    </a>

  </div>

</div>