.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 0.2em 0.1em;
}
.submenu * {
  padding: 5px;
}
.submenu a {
  border-radius: 0.5em;
  cursor: pointer;
}
.submenu a.hide {
  z-index: -1;
}
.submenu a:active {
  background: none;
}
.submenu a:hover {
  background: #ddd;
}

@media (pointer: coarse) {
  .submenu a:active {
    background: #ddd;
  }
  
  .submenu a:hover {
    background: none;
  }
}