
/* not required, caused slowed touch response on device
:host { 
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y:auto;
  overflow-x:hidden;
}
*/

main {
  position: relative;
  min-height: calc(100vh - 8.4em);
  background-color: #eee;
  background-color: #f6f6f5;
  padding: 0.4em;
}

header {
  height: 6.5em;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}

header * {
  color: rgb(240, 149, 165);
}

.header-title {
  flex: 1 100%;

  text-align: center;
  padding-top: 5px;
}

.header-title a {
  text-decoration: none;
  font-size: calc(100% * 3);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.header-menu {
  flex: 1 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.header-menu-item,
label.header-menu-item,
.header-menu .dropdown-menu > .dropdown a {
  font-size: 1.4em;
  line-height: 1.7;
  padding: 5px;
  text-decoration: none;
}

a.header-menu-item.active,
div.dropdown-menu.active > label,
.header-menu .dropdown-menu > .dropdown a.active {
  text-decoration: underline;
  background: #f6f6f5;
}

div.dropdown-menu.active > label {
  padding: 9px 5px;
}

.header-menu div.dropdown-menu {
  position: relative;
}
.header-menu .dropdown-menu > input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.header-menu .dropdown-menu > div.dropdown {
  padding-left: 8px;
  padding-right: 8px;
}
.header-menu .dropdown-menu > .dropdown li {
  display: block;
}
a.header-menu-item:hover,
.header-menu .dropdown-menu > input[type=checkbox]:hover + label,
.header-menu .dropdown-menu > .dropdown a:hover {
  background: #f6f6f5;
}
.header-menu .dropdown-menu > div.dropdown {
  position:absolute;
  background:white;
  height:0px;
  transition: height 0.4s ease;
  overflow:hidden;
  z-index: 1;
  opacity: 1.0;
}
.header-menu .dropdown-menu > input[type=checkbox]:checked ~ label ~ div.dropdown {
  height: 9.5em;
}
.header-menu .dropdown-menu > input[type=checkbox] ~ label ~ i {
  transition: 0.4s ease;
}
.header-menu .dropdown-menu > input[type=checkbox]:checked ~ label ~ i {
  transform: rotate(90deg);
}
.header-menu .dropdown-menu > input[type=checkbox]:not(:checked) ~ label ~ i {
  transform: rotate(0deg);
}

/* 
.header-menu .dropdown-menu > input[type=checkbox]:checked ~ label ~ .fa-angle-right {
  display: none;
}
.header-menu .dropdown-menu > input[type=checkbox]:not(:checked) ~ .fa-angle-down {
  display: none;
} 
*/

footer {
  background: linear-gradient(#777, #444);
  color: white;
  font-size: 0.7em;
  padding: 0.2em;
  text-align: center;
}
