<header>
	<div class="header-title">
		<span><a routerLink="/home">{{title}}</a></span>
	</div>
	<nav class="header-menu">
		<a class="header-menu-item" routerLink="/profile" routerLinkActive="active">profile</a>
		<div class="dropdown-menu" routerLinkActive="active">
			<input type="checkbox" id="ddm-1" [checked]="showIt" (click)="clicked()">
			<label for="ddm-1" class="header-menu-item">{{titleWork}}</label>
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
			<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
			<div class="dropdown">
				<a routerLink="/work/craft" routerLinkActive="active">craft</a>
				<a routerLink="/work/illustration" routerLinkActive="active">illustration</a>
				<a routerLink="/work/painting" routerLinkActive="active">painting</a>
			</div>
		</div>
		<a class="header-menu-item" routerLink="/gallery" routerLinkActive="active">gallery</a>
	</nav>
</header>

<main [@routerTransition]="getState(o)">
	<router-outlet #o="outlet"></router-outlet>
</main>

<footer>
	Copyright © 2017 Joanne Lee
</footer>