.profile { 
  width: calc(100vw - 0.4em);
  height: calc(100vh - 11.0em);
  position: relative;
}

.profile::before {
  z-index: 99;
  position: absolute;
  content: '';
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

:host-context(.no-webp) .profile::before {
  background-image: url("/assets/img/gallery/raw/Scan7.jpg"); /* leading '/' required, https://github.com/angular/angular-cli/issues/4778 */
}
:host-context(.webp) .profile::before {
  background-image: url("/assets/img/Scan7.jpg.webp"); /* leading '/' required, https://github.com/angular/angular-cli/issues/4778 */
}
