.profile { 
  display:flex;
  flex-flow: column;
  /*border-top: 1px solid red;
  border-bottom: 1px solid red;*/
  margin-bottom: -0.4em;

  width: calc(100vw - 0.4em);
  height: calc(100vh - 8.6em);
  height: calc(100vh - 8.2em);
  position: relative;
}

ul {
  /*border: 1px solid red;*/
  margin-top: 0.4em;
  margin-bottom: 0;
}

@keyframes vertical-scroll {
  from, to { background-position: 0 0; }
  50% { background-position: 0 100%; }
}

.background {
  /*border: 1px solid red;*/
  flex: 1;
  position: relative;

  background-image: url("/assets/img/Scan7_600t.jpg");
  background-size: cover;
  opacity: 0.5;
  animation: vertical-scroll 40s linear infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
/*
:host-context(.no-webp) .background {
  background-image: url("/assets/img/gallery/raw/Scan7.jpg");
}
:host-context(.webp) .background {
  background-image: url("/assets/img/Scan7.jpg.webp");
}
*/
.background:hover/*, 
.background:focus*/ {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}
/*
@media (pointer:coarse) {
  .background {
    animation-play-state: running;
  }
}
*/
@media only screen 
and (orientation: portrait) {
  .background {
    animation: vertical-scroll 20s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
}

@media only screen 
and (min-width: 415px) {
  .background {
    background-image: url("/assets/img/Scan7_800t.jpg");
  }
}

.background::before,
.background::after {
  /*border: 1px solid blue;*/
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;

  height: 30px;
  margin: 0 0 -30px;
  background: linear-gradient(to bottom,#FFF,#FFF 30%,rgba(255,255,255,0));
}
.background::before {
  top: 0;
}
.background::after {
  /*border: 1px solid gray;*/
  bottom: 0;

  margin: -30px 0 0;
  background: linear-gradient(to bottom,rgba(255,255,255,0),#FFF 70%,#FFF);
}
