
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image img,
.image picture {
  margin-bottom: 0.4em;
}

.image span {
  width: 80vw;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.image1 {
  width: 310px;
}
