<div class="image">

	<a id="picture1"></a>
	<picture >
		<source type="image/webp" srcset="assets/img/brooches.jpg.webp">
		<img src="assets/img/gallery/raw/brooches.jpg" alt="Brooches" class="image1">
	</picture>
	<span>
		Hi, I am Joanne, was an illustrator for children's books in South Korea, enjoying country like life style here in Wairarapa, love to share some of my works. Enjoy!{{sw ? '!' : ''}}
	</span>

	<a href="mailto:joannelee133@gmail.com">
    <i class="fa fa-envelope" aria-hidden="true"></i>
		joannelee133@gmail.com
	</a>

</div>