<div class="image">

	<a id="picture1"></a>
	<img src="assets/img/gallery/raw/brooches.jpg" alt="Brooches" class="image1">
	<span>
		Hi, I am Joanne, an illustrator for children's books in South Korea, enjoying country like life style here in Wairarapa, love to share some of my paintings and crafts. Enjoy!{{sw ? '!' : ''}}
	</span>

  <p>Please contact me by email:</p>
	<a href="mailto:joannelee133@gmail.com">
    <i class="fa fa-envelope" aria-hidden="true"></i>
		joannelee133@gmail.com
	</a>

</div>

