.home { 
  display:flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0.4em;
}

span {
  margin-bottom: 1em;
}

span, .image1 { /* target mobile portrait first */
  width: 96vw;
}

@media only screen /* then target iPad portrait */
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  span, .image1 {
    width: 70vw;
  }
}
@media only screen /* then target iPad landscape */
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {
  span, .image1 {
    width: 52vw;
  }
}
@media only screen /* then target bigger screen like laptop */
and (min-device-width: 1024px) {
  span, .image1 {
    width: 40vw;
  }
}
