.home { 
  width: calc(100vw - 0.0em);
  height: calc(100vh - 7.7em);
  position: relative;

  background-image: url("/assets/img/Flower99c_800.jpg");
  background-size: cover;
}

@media only screen
and (min-width: 415px) {
  .home {
    background-image: url("/assets/img/Flower99c_1440.jpg");
  }
}

.home .content {
  position: absolute;
  top: 1em;
  margin: 0 0.4em;
  padding: 0.4em;
  background: rgba(253, 250, 243, 0.7);
	/* border: 1px solid silver; */
  border-radius: .5em;
  z-index: 1;
}
.image1 { /* target mobile portrait first */
  width: 96vw;
}

@media only screen /* then target iPad portrait */
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  .image1 {
    width: 70vw;
    width: 96vw;
  }
}
@media only screen /* then target iPad landscape */
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {
  .image1 {
    width: 52vw;
    width: 96vw;
  }
}
@media only screen /* then target bigger screen like laptop */
and (min-device-width: 1024px) {
  .image1 {
    width: 40vw;
    width: 96vw;
  }
}
