<loader *ngIf="image.toLoad && !imageLoaded"></loader>

<div class="image" [ngClass]="{'show': imageLoaded}">
  <picture>
    <img [src]="(image.toLoad && image.url) || ''" 
      (load)="loaded(image)" 
      class="image1" alt="{{image.fileName}}">
  </picture>

  <div class="expand">
    <span>{{image.text}}</span>
    <img [hidden]="!image.thumbUrl || !image.thumbUrl" 
      [src]="(image.toLoad && image.thumbUrl) || ''" 
      class="image2" alt="thumb">
  </div>
</div>
<!-- GET http://localhost:4200/null 404 (Not Found)
  <img [hidden]="!image.thumbUrl" class="image2" [src]="image.thumbUrl">
  <source type="image/webp" *ngIf="image.webpUrl" [srcset]="image.webpUrl">
-->